.section-header {
    background: linear-gradient(145deg,#263238,#78909c);
    color:white;
    position: fixed;
    top: 0;
    right: 0; 
    left: 0;
    height: 30px;
    padding-top: 13px;
    box-shadow: 0 2px 5px #00004d;
}