<section class="login">
    <h2>{{"login.title" | translate}}</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="username">
            <label>{{"login.username" | translate}}</label>
            <input type="text" formControlName="username" required>
        </div>
        <div class ="password">
            <label>{{"login.password" | translate}}</label>
            <input type="password" formControlName="password" required>
        </div>
        <button type="submit">{{"login.confirm" | translate}}</button>
        <button routerLink="/signup">{{"signup.title" | translate}}</button>
    </form>
</section>