.new-exercise {
    height: 100%;
    width: 100%;
    white-space: pre-wrap;

    .exercise-form{
        display: flex;
        width: 100%;
        flex-direction: column;
        //padding: auto;

        div :not(.angle-option) {
            width: 100%;
            padding: auto;
            margin-bottom: 10px;

            label, input {
                display: block;
            }
            span {
                width: 100%;
            }
        }
        .angle-option {
            width: auto;
            white-space: pre-wrap;

            input {
                width: auto;
            }
        }
    }
}
